

* {
    margin: 0px;
    padding: 0px;
    
}

body {
    background-color: rgb(206, 35, 132);
   
}

div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
 
  h1 > b {
    color: rgb(77, 4, 55);
    padding: 40px;
    margin: 40px;

  }
  h1.center {
    text-align: center;
    color: rgb(9, 9, 9);
  }