

* {
    margin: 0px;
    padding: 0px;
    
}


header {
    background-color: deeppink;
    font-size: x-large;
    font-family: cursive;
    font: bold;

}

main{
    background-color: blueviolet;
    background-image: url(img/salatic.jpg);
}

div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 500px;
  }
 
  h1 > b {
    color: rgb(77, 4, 55);
    padding: 40px;
    margin: 40px;

  }
  h1.center {
    text-align: center;
    color: rgb(9, 9, 9);
  }